h1{
            color: blueviolet;
            background-color: rgb(13, 238, 167);
}
div{
    P{
        color: white;
        background-color: black;
    }
    h2{
        color: orange;
    }
    button{
        background-color: blue;
        color: white;
    }
    Hema{
        color: #fcba03;
    }
    koti{
        color: #0a81a6;
    }
    
}
  