h1{
    color: #ffa511;
    font-family:League spartan;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: underline;
    text-align: center;
    text-transform:uppercase;
    text-decoration: teal double;
    
    
}
h2{
    color:#1b74e4;
}
#login{
    background-color: blue;
}
#register{
    background-color: blue;
}

