*{
    font-family: 'Courier New', Courier, monospace;
}git 

#search{
   background-color:  black;
   color: white;
}
#login{
    background-color: aqua;
    color: black;
}
#signup{
    background-color: aqua;
    color: black;
}

#myid  p{
    color: green;
}
#my{
    height: 200px;
    width: 200px;
    border: 20px solid blueviolet ;
    border-left-style: dashed;
    border-right-color: bisque;
    border-radius: 15px;
}