*{
    font-family: 'Courier New', Courier, monospace;
}git 

#search{
   background-color:  black;
   color: white;
}
#login{
    background-color: aqua;
    color: black;
}
#signup{
    background-color: aqua;
    color: black;
}

#myid  p{
    color: green;
}