h1{
    color: orange;
    
}
button{
    background-color: blue;
    color: white;
}
p{
    background-color:black;
}
h1{
    color: #ffa511;
    font-family: 'Lucida Sans';
    text-align: center;
    font-size:  55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: underline;

}




