#Hithere{
    color: orange;
}
    
    


 div{
    background-color: black;
    color: white;
}



  divh1{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:  55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: aqua;
    
 }
 #name{color: brown;
       text-align: center;
       text-decoration:underline;
       text-decoration-color: darkgreen;

 }
  div h2{
    color:blue ;
    
 }
  span>button{
    background-color:aqua ;
 }
 #ser{ background-color: black;
       color: white;
}
 #search{
   background-color: black;
 }
 #Adem{
    color: black;
    
 }
 #Follow Adem{
   color: darkgoldenrod;
 }
 #myid p {
    color: darkgreen;
 }
 p{
  height: 200px;
  width: 200px;
  border: 2px pink;
  border-top: 50px;
  border: radius 10px;;
 }

 

 
 

 

 

 
 

 

 

 
 

    

     
     





