*{
    font-family: 'Courier New', Courier, monospace;
}git 

#search{
   background-color:  black;
   color: white;
}
#login{
    background-color: aqua;
    color: black;
}
#signup{
    background-color: aqua;
    color: black;
}

#myid  p{
    color: green;
}
#my{
    height: 200px;
    width: 200px;
    border: 20px solid blueviolet ;
    border-left-style: dashed;
    border-right-color: bisque;
    border-radius: 15px;
}
#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin-top: 20px;

}
#red{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: red;

}
#yellow{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: yellow;
    
}
#green{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    background-color: green;
    
}