h1{
    text-align: center;
}
img{
    display: block;
    border-radius: 50%;
    margin:0 auto;
    width: 70px;

}
#teju{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    
    margin:0% auto;
    border: 5px solid rgb(5, 1, 0);
    margin: 15px;
    box-shadow: 5px 5px 15px magenta;
}
.card{
    height: 100px;
    width: 100px;
    border: 5px seagreen;
    margin: 15px;
    box-shadow: 5px 5px 15px magenta
}
 .front img{
    height: 50px;
    width: 50px;
    display: inline;
    }
    /* .front{
        width: 100px;
        height: 100px;
        backface-visibility: hidden;
        transform: rotateY(0);
        
    } */


.back{
    /* position: absolute; */
    height: 50px;
    width: 50px;
    transform: rotateY(-180deg);
    backface-visibility:hidden;
    top: 0;
    left: 0;

}   
.card:hover.back{
    transform: rotateY(0DEG);
}
.card:hover.front{
    transform: rotatey(180DEG);
}
.item{
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;

}
.child{
    height: 100px;
    width: 100px;
}
#c1{
    background-color: red;
}
#c2{
    background-color: greenyellow;
}
#c3{
    background-color: burlywood;
}
.container{
    height: 300px;
    width: 400px;
    display: flex;
     
    
} 
.child{
    
    width: 300px;
height: 100px;
    text-align: center;
    flex-basis: 15vw;
    
}
#Ho{
     background-color: slateblue;
     
}
#cat{
    background-color: slateblue;
    
}
#ca{
    background-color: turquoise;
    
}
#pr{
    background-color: turquoise;
    
}
#Maintopic{
    color: blue;
}
*{
    text-align: center;
}
.Heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.color {
    background-color: cornflowerblue;
    color: white;
}
div button{
    background-color: purple;
    color: azure;
    
}
div button:hover{
background-color: yellow;
    color: blue;
}
p:nth-of-type(2n){
    color: yellow;
}
h1::first-letter{
    color: red;
}
 #yes:checked+label
 
 {
    color: darkgreen;
}



   
  

    
    
    